<div class="container px-5 my-5" style="max-width: 700px;">
    <button class="btn btn-lg btn-warning mb-5" [routerLink]="['/films']">
        < Retour
    </button>
    
    <div class="mb-3">
        <label class="form-label">Titre</label>
        <input class="form-control" type="text" placeholder="Titre" [(ngModel)]="film.title" [value]="film.title" />
    </div>

    <div class="mb-3">
        <label class="form-label">État</label>
        <select class="form-control" [(ngModel)]="film.status" [value]="film.status">
            <option value="">Choisir un état</option>
            <option value="1">À regarder</option>
            <option value="2">Terminé</option>
        </select>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">Note / 10</label>
            <input class="form-control" type="text" placeholder="Note / 10" [(ngModel)]="film.note" [value]="film.note" />
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Durée</label>
            <input class="form-control" type="text" placeholder="Durée" [(ngModel)]="film.duree" [value]="film.duree" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">Scénariste</label>
            <input class="form-control" type="text" placeholder="Scénariste" [(ngModel)]="film.scenarist" [value]="film.scenarist" />
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Réalisateur</label>
            <input class="form-control" type="text" placeholder="Réalisateur" [(ngModel)]="film.realisator" [value]="film.realisator" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">Acteurs principaux</label>
        <input class="form-control" type="text" placeholder="Acteurs principaux" [(ngModel)]="film.actors" [value]="film.actors" />
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Genre</label>
            <input class="form-control" type="text" placeholder="Genre" [(ngModel)]="film.genre" [value]="film.genre" />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">URL de l&#x27;affiche</label>
        <input class="form-control" type="text" placeholder="URL de l'affiche" [(ngModel)]="film.affiche" [value]="film.affiche" />
    </div>

    <div class="mb-3">
        <label class="form-label">Synopsis</label>
        <textarea class="form-control" type="text" placeholder="Synopsis" [(ngModel)]="film.synopsis" cols="30" rows="5">{{ film.synopsis }}</textarea> 
    </div>

    <div class="d-grid">
        <button class="btn btn-primary btn-lg" (click)="update()">Envoyer</button>
    </div>
</div>