<a [routerLink]="['/film/detail', id]">
    <img class="img-thumbnail" style="width: 100%; height: 100%; max-height: 400px;" [src]="filmAffiche" alt="{{ filmTitle }}">
</a>

<div class="bg-white text-dark mb-5" style="margin-top: -5px; padding-top: 10px; height: 45px;">
    <div class="row">
        <div class="col-6 col-xl-7 text-center">
            <p><b>{{ filmNote }} / 10</b></p>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-warning me-0 me-sm-2 me-md-3" [routerLink]="['/film/modif', id]">
                <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="btn btn-sm btn-danger" (click)="suppr()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
</div>