<section class="h-100 text-center d-flex-column">
    <h3>
        Projet de LP DWMCE réalisé avec Angular.<br /><br />
        J'ai choisi de créer une watchlist afin de référencer les oeuvres que j'ai déjà vues.<br /><br />
        Cela me permettra dans le futur de pouvoir les retrouver facilement, et les noter.
    </h3>

    <div class="d-grid gap-2 col-3 mx-auto my-5">
        <button type="button" class="btn btn-lg btn-info rounded" routerLink="/animes">Animes</button>
        <button type="button" class="btn btn-lg btn-info rounded my-5" routerLink="/films">Films</button>
        <button type="button" class="btn btn-lg btn-info rounded" routerLink="/series">Séries</button>
    </div>
</section>